.library{
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .library-title{
    font-weight: bold;
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 0rem 3rem 0rem 3rem;
  }
  
  .blog1{
    margin-top: 3rem;
    height: auto;
  }
  
  .blog-img{
    height: 50%;
    width: auto;
  }
  
  .blog-desc{
    background-color: #042C54;
    color: white;
    padding: 10px 10px 10px 10px;
  }
  
  .link{
    font-size: 12px;
    margin-top: 30px;
  }