.what-is-gpt3{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    height: auto;
  }
  
  .gpt-container{
    width: 100%;
    min-height: 90vh;
    background-color: rgba(15, 66, 121, 1);
    background-image: linear-gradient(158deg, rgba(15, 66, 121, 1) 0%, rgba(27, 120, 222, 1) 100%);
    padding: 5rem 5rem 5rem 5rem;
    color: white;
    height: auto;
   
  }
  
  
  
  .first-section, .second-section, .third-section {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    align-items: center;
    height: auto;
    
  }
  
  .second-desc{
    text-align: end;
  }
  
  .section-first-item, .section-second-item, .section-third-item{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .first-title{
    font-weight: bold;
  }
  
  .first-desc, .first-item-desc, .second-item-desc, .third-item-desc{
    color: #81AFDD;
  }
  
  .second-title{
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  
  .second-desc{
    color: #FF8A71;
    font-size: 16px;
  }
  
  .first-item-title, .second-item-title, .third-item-title{
    font-weight: bold;
    color: white;
    width: 100%;
  }
  
  .first-item-desc, .second-item-desc, .third-item-desc{
    height: auto;
    width: 100%;
  }
  
  
  .gapping{
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }
  
  .align{
    display: flex;
    align-items: flex-start;
  }
  
  
  @media screen and (max-width: 1200px) {
    .gpt-container{
      padding: 3rem 3rem 3rem 3rem;
    }
  
    .gapping{
      gap: 3rem;
    }
    
  }
  
  @media screen and (max-width: 991px) {
    .gpt-container{
      padding: 1rem 1rem 1rem 1rem;
    }
    
    .gapping{
      gap: 1rem;
    }
    
    .first-section, .second-section, .third-section {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
    .first-title{
      width: 100%;
    }
    .first-desc{
      width: 100%;
      height: auto;
    }
    .second-title{
      width: 100%;
    }
    .second-desc{
      width: 100%;
      height: auto;
    }
  
  
    .section-first-item, .section-second-item, .section-third-item{
      gap: 0;
    }
    .first-item-title{
      width: 100%;
    }
    .first-item-desc{
      width: 100%;
      height: auto;
    }
}